@using ChatZone.ApplicationCore.Helpers
@model ChatZone.WebUI.ViewModels.ChatGroups.ChatGroupViewModel?

@{

	var isJoined = ViewBag.isJoined;
	var userId = Context.User.GetUserId();

}

<partial name="Modals/_AddMemberModal" />
<partial name="Modals/_ProfileModal" model="@Model"/>
<partial name="Modals/_SendFileModal" model="@Model" />
@if (Model != null)
{
	<div class="header">
		@if (Model.IsUser)
		{
			<a type="button" data-toggle="modal" data-target="#profile_modal" onclick="getUserProfile('@((Model.GroupId == 0 ? Model.UserId : Model.GroupId))')">
				<img src="@Directories.GetGroupImagePath(@Model.ImageName)"alt="avatar_image"/>
				<h2>@Model.GroupTitle</h2>
			</a>
		}
		else
		{
			<a type="button" data-toggle="modal" data-target="#profile_modal" onclick="getChatGroupProfile('@((Model.GroupId == 0 ? Model.UserId : Model.GroupId))')">
				<img src="@Directories.GetGroupImagePath(@Model.ImageName)" alt="avatar_image" />
				<h2>@Model.GroupTitle</h2>
			</a>
		}
		

		<div class="text-end">
			@if (Model.ReceiverId == 0 && userId == Model.OwnerId)
			{
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_member_modal">اضافه کردن عضو جدید</button>
			}
		</div>

	</div>


	<div class="chats">
	
		@if (Model.Chats is not null && Model.Chats.Any())
		{

			foreach (var chat in Model.Chats)
			{

				var extension = System.IO.Path.GetExtension(chat.FileName);

				if (!string.IsNullOrEmpty(chat.FileName))
				{
					if (chat.IsCallerChat)
					{
						<div class="chat-me">
							<div class="chat">
								<i> شما : </i>
								<br/>
								@if (extension is ".jpg" or ".jpeg" or ".png" or ".bmp")
								{
									<img src="@Directories.GetChatFilePath(chat.FileName)" alt="image" />
								}
								else if (extension is ".mkv" or ".mp4")
								{
									<video width="320" height="240" controls>
										<source src="@Directories.GetChatFilePath(chat.FileName)" type="video/@extension.Replace(".","")">
										Your browser does not support the video tag.
									</video>
								}
								
								<p> @chat.ChatBody</p>
								<span>@chat.CreateDate</span>
							</div>
						</div>
					}
					else
					{
						<div class="chat-you">
							<div class="chat">
								<i> @chat.UserName</i>
								<br />
								@if (extension is ".jpg" or ".jpeg" or ".png" or ".bmp")
								{
									<img src="@Directories.GetChatFilePath(chat.FileName)" alt="image" />
								}
								else if (extension is ".mkv" or ".mp4")
								{
									<video width="320" height="240" controls>
										<source src="@Directories.GetChatFilePath(chat.FileName)" type="video/@extension.Replace(".","")">
										Your browser does not support the video tag.
									</video>
								}
								<p> @chat.ChatBody</p>
								<span>@chat.CreateDate</span>
							</div>
						</div>
					}
				}
				else
				{
					if (chat.IsCallerChat)
					{
						<div class="chat-me">
							<div class="chat">
								<i> شما : </i>
								<p> @chat.ChatBody</p>
								<span>@chat.CreateDate</span>
							</div>
						</div>
					}
					else
					{
						<div class="chat-you">
							<div class="chat">
								<i> @chat.UserName</i>
								<p> @chat.ChatBody</p>
								<span>@chat.CreateDate</span>
							</div>
						</div>
					}
				}

				

			}


		}@{
			 if (Model.IsUser && !Model.IsJoined)
			 {
				 <div class="footer">

					 <div class="footer text-center">
						 <a class="btn btn-success w-100" onclick="beginChatWithUser('@Model.UserId')" style="position: relative">شروع چت</a>
					 </div>
				 </div>
			 }else if (Model.IsJoined)
			 {
				 <div class="footer">
					
					 <form onsubmit="sendMessage(event)">
						 <a class="btn btn-primary p-3" data-toggle="modal" data-target="#file_form_modal">
							 <i class="fa fa-file"></i>فایل...
						 </a>
						 <input type="hidden" id="group_id" value="@Model.GroupId"/>
						 <input type="text" id="message_text" class="form-control" placeholder="متن خود را وارد کنید">

						 <button type="submit" class="btn btn-success">
							 ارسال
							 <i class="fa fa-send"></i>
						 </button>



					 </form>

				 </div>
			 }
			 else
			 {
				 <div class="footer text-center">
					<a class="btn btn-success w-100" onclick="joinGroup('@Model.GroupId')" style="position: relative">پیوستن به گروه</a>
				 </div>
			 }
		 }
		

	
	</div>

}

				
				